@keyframes fadeout {
    0% {
        opacity: 1;
      }
      60% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}

#myDiv {
    
    animation: fadeout 5s linear;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
.page-link {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
  border-radius: 3px;
}

.page-link:hover {
  background-color: #ccc;
}

.page-link.active {
  background-color: #333;
  color: #fff;
}
#pagination{
  display: flex;
}
