@charset "UTF-8";
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-weight: 700;
} */

.why_section .box {
  text-align: center;
    margin-top: 45px;
    background-color: #f9f8f7;
    padding: 25px;
    border-radius: 5px;
    font-size: 19px;
}
    

    .why_section .box  .img-box {
      margin-bottom: 15px;
    }
      .why_section .box .img-box svg {
        width: 55px;
        height: auto;
        fill: #320b57;
    }
    
    .heading_center {
      align-items: center;
      text-align: center;
    }


.rowprd {
  /* width: 75%; */
  display: flex;
  float: right;
  flex-flow: row wrap;
}
.rowsb {
  top: 10%;
  margin-top: 10px;
  margin-left: 4%;
  width: 20%;
  display: flex;
  float: left;
  flex-flow: row wrap;
  position: sticky ;
  position: -webkit-sticky; 
}

.product, .product--pink, .product--yellow, .product--green, .product--red, .product--orange, .product--blue {
  box-shadow: 1px 5px 15px #CCC;
  width: 19em;
  height: auto;
  border-radius: 3px;
  padding: 1em;
  margin: 1em;
  overflow: hidden;
  position: relative;
  flex: auto;
  max-width: 14em;
}

.product img, .product--blue img, .product--orange img, .product--red img, .product--green img, .product--yellow img, .product--pink img {
  max-width: 100%;
  height: auto !important;
  text-align: center;
}
.product_inner {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
.product_inner p {
  color: black;
}
.product_inner button {
  border: 1px solid red;
  color: red;
  border-radius: 3px;
  padding: 1em 3em;
  margin: 1em 0 0 0;
  background: none;
  cursor: pointer;
  transition: background ease-in 0.25s;
}
.product_inner button:hover {
  background: white;
  color: #8b0000;
}
.product_inner button:before {
  font-family: FontAwesome;
  content: "";
  color: #FFF;
  position: absolute;
  font-size: 1.5em;
  margin: 0 -1.5em;
}
.product_inner button:hover:before {
  color: red;
}
.product_overlay {
  background: red;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-500px);
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.product_overlay h2 {
  color: red;
  font-size: 1.2em;
  margin: 1em 0;
}
.product_overlay i {
  background-color: red;
  color: red;
  font-size: 1.5em;
}
i{
  color: red;
}
.child-list li:hover{
  background-color: #d7d7d7;
  border-right: 3px solid red;
}

a{text-decoration: none !important}
.card-product-list, .card-product-grid{margin-bottom: 0}
.card{
  width: 270px;
  margin: 0 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;-webkit-box-orient: vertical;
  -webkit-box-direction: normal;-ms-flex-direction: 
  column;flex-direction: column;min-width: 0;
  word-wrap: break-word;background-color: #fff;
  background-clip: border-box;border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 23px;margin-top: 50px}
  .card-product-grid:hover{
    -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
    box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
    -webkit-transition: .3s;transition: .3s}
    .card-product-grid .img-wrap{
      border-radius: 0.2rem 0.2rem 0 0;height: 220px}
      .card .img-wrap{overflow: hidden}
      .card-lg .img-wrap{height: 280px}
      .card-product-grid .img-wrap{
        border-radius: 0.2rem 0.2rem 0 0;
        height: 275px;padding: 16px}[class*='card-product'] 
        .img-wrap img{
          height: 100%;
          max-width: 100%;
          width: auto;
          display: inline-block;
          -o-object-fit: cover;
          object-fit: cover}
          .img-wrap{text-align: center;display: block}
          .card-product-grid .info-wrap{
            overflow: hidden;padding: 18px 20px}[class*='card-product'] 
            a.title{color: #212529;display: block ; font-size: 24px;}
            .rating-stars{display: inline-block;vertical-align: middle;
              list-style: none;
              margin: 0;
              padding: 0;
              position: relative;
              white-space: nowrap;
              clear: both}
              .rating-stars li.stars-active{
                z-index: 2;
                position: absolute;
                top: 0;left: 0;
                overflow: hidden}
                .rating-stars li{

                  display: block;text-overflow: clip;
                  white-space: nowrap;z-index: 1; font-size: 24px;}
                  .card-product-grid .bottom-wrap{
                    padding: 18px;border-top: 1px solid #e4e4e4}
                    .bottom-wrap-payment{padding: 0px;border-top: 1px solid #e4e4e4}
                    .rated{font-size: 10px;color: #b3b4b6}
                    .btn{display: inline-block;
                      font-weight: 600;
                      color: #343a40;
                      text-align: center;
                      vertical-align: middle;
                      -webkit-user-select: none;
                      -moz-user-select: none;
                      -ms-user-select: none;
                      user-select: none;
                      background-color: transparent;
                      border: 1px solid transparent;
                      padding: 0.45rem 0.85rem;
                      font-size: 1rem;line-height: 1.5;
                      border-radius: 0.2rem; font-size: 24px;}
                      .btn-primary{
                        color: #fff;
                        background-color: #3167eb;
                        border-color: #3167eb}
                        .fa{color: #FF5722}